<p id="notice"><%= notice %></p>

<h1>All the Tweets in the World</h1>

<!-- the table that's going to show all our tweets -->
<table>

<!-- the head of our table -->
<thead>
  <tr>
    <th>Message</th>
    <th>User</th>
    <th colspan="3"></th>
  </tr>
</thead>

<!-- the body of our table  -->
<tbody>
  <!-- runs through every tweet and puts each one on its own row -->
  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.message %></td>
      <td><%= tweet.user.username %></td>
      <td><%= link_to 'Show', tweet %></td>
      <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
      <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?'} %></td>
    </tr>


  <% end %>
</tbody>
</table>
<br>

<%= link_to 'New Tweet', new_tweet_path %>